{
    "server": {
        "zones": {
            "defaultstatus": "0",
            "ports": {
                "low": "7000",
                "high": "7100"
            }
        },
        "qsdatabase": {
            "host": "db",
            "port": "3306",
            "username": "eqemu",
            "password": "password",
            "db": "eqemu"
        },
        "chatserver": {
            "port": "7778",
            "host": "SET_TO_YOUR_EXTERNAL_IP"
        },
        "mailserver": {
            "host": "SET_TO_YOUR_EXTERNAL_IP",
            "port": "7778"
        },
        "webinterface": {
            "port": "9081"
        },
        "world": {
            "loginserver1": {
                "account": "SET_TO_YOUR_EQEMU_WORLD_ACCOUNT",
                "password": "SET_TO_YOUR_EQEMU_WORLD_PASSWORD",
                "legacy": "1",
                "host": "login.eqemulator.net",
                "port": "5998"
            },
            "tcp": {
                "host": "SET_TO_YOUR_EXTERNAL_IP",
                "port": "9001"
            },
            "telnet": {
                "ip": "0.0.0.0",
                "port": "9000",
                "enabled": true
            },
            "key": "somerandomtextstringCHANGEMECHANGEME",
            "http": {
                "port": "9080",
                "enabled": "true",
                "mimefile": "mime.types"
            },
            "shortname": "SET_THIS_TO_SERVER_NAME",
            "longname": "SET_THIS_TO_SERVER_NAME",
            "address": "SET_TO_YOUR_EXTERNAL_IP",
            "localaddress": "SET_TO_YOUR_EXTERNAL_IP"
        },
        "database": {
            "db": "eqemu",
            "host": "db",
            "port": "3306",
            "username": "eqemu",
            "password": "password"
        },
        "files": {
          "opcodes": "opcodes/opcodes.conf",
          "mail_opcodes": "opcodes/mail_opcodes.conf"
        },
        "directories": {
          "patches": "./",
          "plugins": "quests/plugins",
          "opcodes": "opcodes/"
        },
        "launcher": {
            "exe": "/home/eqemu/bin/zone",
            "reterminate":"1000"
        }
    }
}
